h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

p {
	font-family: 'Open-sans', sans-serif;
}

.jumbotron {
	text-transform: uppercase;
	letter-spacing: 2.5px;
}

.intro {
	text-align: center;
}

.questions {
	font-size: 30px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
    padding: 0;
    width: 100%
}

.choices {
	font-size: 18px;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

.quiz-end {
	text-align: center;
}

.answers {
	text-align: center;
	font-size: 20px;
}

.submit {
	text-align: center;
	margin-top: 30px;
}